* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.logo-header {
  width: 155px;
  padding: 10px;
}
.menu-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 13px;
  text-transform: uppercase;
}
.menu-link {
  text-decoration: none;
  font-size: 16px;
  color: #4a4a4a;
}
.title_container {
  height: 100vh;
  background: #3cdbc0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  left: 0;
}
.Title {
  width: 240px;
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  word-wrap: break-word;
}
@media all and (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px 20px;
  }
  .Title {
    font-size: 40px;
  }
}
